body {
    background: #0f172a;
    color: #e2e8f0;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.navbar {
    background: #1e293b;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0,0,0,.5);
}

.logo {
    color: #38bdf8;
    font-weight: 600;
}

.nav-links a {
    color: #e2e8f0;
    margin: 0 12px;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #38bdf8;
    text-shadow: 0 0 5px #38bdf8;
}

.container {
    margin: 30px;
    padding: 20px;
    background: #1e293b;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}

.btn {
    background: #38bdf8;
    padding: 10px 15px;
    border: none;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #0ea5e9;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    background: #334155;
    color: white;
}
