{% extends "base.html" %}
{% block content %}
<h2>Add Medical History</h2>
<div class="card p-3 card-custom">
  <form method="POST" action="{{ url_for('add_medical_history') }}">
    <div class="mb-2">
      <label class="form-label">Patient</label>
      <select name="patient_id" class="form-select" required>
        <option value="">Choose patient</option>
        {% for p in patients %}
          <option value="{{ p.id }}">{{ p.full_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-2">
      <label class="form-label">History</label>
      <textarea name="history" class="form-control" rows="6" required></textarea>
    </div>
    <div class="d-grid">
      <button class="btn btn-accent">Save</button>
    </div>
  </form>
</div>
{% endblock %}
