{% extends "base.html" %}
{% block content %}
<h3>Add Medicine</h3>
<form method="POST" action="{{ url_for('add_medicine') }}">
  <div class="mb-2"><label class="form-label">Name</label><input name="name" class="form-control" required></div>
  <div class="mb-2"><label class="form-label">Dosage</label><input name="dosage" class="form-control"></div>
  <div class="mb-2"><label class="form-label">Quantity</label><input name="quantity" type="number" class="form-control"></div>
  <div class="mb-2"><label class="form-label">Description</label><textarea name="description" class="form-control"></textarea></div>
  <button class="btn btn-success">Save</button>
</form>
{% endblock %}
