{% extends "base.html" %}
{% block title %}Add Patient{% endblock %}
{% block content %}
<div class="card">
    <h2>Add Patient</h2>
    <form method="POST">
        <input type="text" name="name" placeholder="Name" required><br><br>
        <input type="number" name="age" placeholder="Age"><br><br>
        <select name="gender">
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select><br><br>
        <input type="text" name="address" placeholder="Address"><br><br>
        <button class="btn-primary" type="submit">Add Patient</button>
    </form>
</div>
{% endblock %}
