{% extends "base.html" %}
{% block content %}
<h3>Change Password</h3>
<form method="POST" action="{{ url_for('reset_password') }}">
  <div class="mb-3">
    <label class="form-label">New password</label>
    <input class="form-control" type="password" name="new_password" required />
  </div>
  <div class="mb-3">
    <label class="form-label">Confirm</label>
    <input class="form-control" type="password" name="confirm_password" required />
  </div>
  <button class="btn btn-success">Update</button>
</form>
{% endblock %}
