{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <div class="card shadow-sm col-md-6 mx-auto border-0">
    <div class="card-header bg-primary text-white text-center">
      <h4>Reset Password</h4>
    </div>
    <div class="card-body">
      <form method="POST" action="{{ url_for('reset_password') }}">
        <div class="mb-3">
          <label class="form-label">Enter your new password</label>
          <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success w-100">Update Password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
