{% extends "base.html" %}
{% block title %}View Medicines - PDMS{% endblock %}

{% block content %}
<h2>Medicines</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Dosage</th>
        <th>Quantity</th>
    </tr>
    {% for med in medicines %}
    <tr>
        <td>{{ med.id }}</td>
        <td>{{ med.name }}</td>
        <td>{{ med.description }}</td>
        <td>{{ med.dosage }}</td>
        <td>{{ med.quantity }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
