{% extends 'base.html' %}
{% block content %}
<h3>Patient Records</h3>
<a href="{{ url_for('add_patient') }}" class="btn btn-success mb-3">Add New Patient</a>
<table class="table table-bordered table-striped">
  <tr>
    <th>ID</th><th>Name</th><th>Age</th><th>Gender</th><th>Contact</th><th>Diagnosis</th>
  </tr>
  {% for p in patients %}
  <tr>
    <td>{{ p.id }}</td>
    <td>{{ p.name }}</td>
    <td>{{ p.age }}</td>
    <td>{{ p.gender }}</td>
    <td>{{ p.contact }}</td>
    <td>{{ p.diagnosis }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
